<% provide(:title, "About us") %>
<h1>About Us</h1>
<p>This is the best online courses App ever existed</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a sem sed ipsum hendrerit blandit hendrerit at velit. Nullam congue enim eget nisl vestibulum scelerisque. Phasellus pharetra neque vitae finibus eleifend. Aenean id enim varius, scelerisque ipsum id, condimentum nibh. Proin sit amet volutpat orci. Sed leo leo, viverra at mollis ac, venenatis sed magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
