<div class="center jumbotron jumbotron-fluid bg-info text-white">
  <h1 class="display-4">Welcome to our online courses platform </h1>
  <div class="container">
    <p class="lead">Learn the latest skills to reach your professional goals!</p>
    <hr class="my-4">
    <div class="card text-info" style="width: 24rem;">
      <div class="card-body">
        <h5 class="card-title">Dream up</h5>
        <p class="card-text">Ambition accepted. Learn the latest skills to reach your professional goals.
        You will find Top instructors from around the world teach millions of students on our app. 
        We provide the tools and skills to teach you what you love.</p>
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="What do you want to learn?" aria-label="What do you want to learn" aria-describedby="button-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
          </div>
        </div>
      </div>
    </div>
    <div class="card float-right">
      <div class="text-hide" style="background-image: url('https://unsplash.com/photos/bzqjws3MZAc');">
      Image of a girl in red dress
      </div>
    </div>
  </div>
</div>
<article class="container">
  <h2 class="mb-2">The world's largest selection of courses</h2>
  <p class="center mb-5">Choose from 130,000 online video courses with new additions published every month</p>
</article>

<section class="my-5 py-4">
  <% @courses.in_groups_of(4,false).each do |group| %>
  <div class="row row-cols-1 row-cols-md-4">
    <% group.each do |course| %>
      <div class="col mb-4">
        <div class="card h-100">
          <%= image_tag course.image.url if course.image? %>
          <div class="card-body">
            <h5 class="card-title"><%= link_to course.title, course_path(course) %></h5>
            <p class="card-text"><%= course.description.truncate(70) %></p>
          </div>
        </div>
      </div>
      <% end %>    
  </div>
  <% end %>
</section>
    <section class="my-5">
      <div class="jumbotron jumbotron-fluid text-center recommendations text-light">
        <h2 class="text-light">Get personal learning recommendations</h1>
        <p class="lead">Answer few questions for your top picks </p>
        <a class="btn btn-outline-light btn-lg" href="#" role="button">Get started</a>
      </div>
    </section>

    <section class="my-5">
      <h2>Featured topics by category </h2>
      <a class="btn btn-info btn-lg" href="#" role="button">Explore more</a>
    </section>
    <section class="my-5">
      <div class="jumbotron instructors">
        <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-2">
        <div class="card bg-dark text-white">
          <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h2 class="card-title">Image goes here</h2>
          </div>
          </div>
        </div>
        <div class="col mb-2">
        <div class="card bg-transparent border-0 ml-5">
          <div class="card-body">
            <h2 class="card-title text-left">Become an instructor</h2>
            <p class="card-text">Top instructors from around the world teach millions of students on Here. We provide the tools and skills to teach what you love.</p>
            <a href="#" class="btn btn-info">Start searching today</a>
          </div>
        </div>
      </div>
    </section>
    <section class="my-5">
      <h2>Trusted by companies of all size </h2>
      <a href="#">Company's names go here....</a>
    </section>

    <section class="my-5">
    <div class="jumbotron jumbotron-fluid border-top border-dark bg-transparent">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-2">
        <div class="card bg-transparent border-0">
        <img src="..." class="card-img" alt="...">
          <div class="card-img-overlay">
            <h2 class="card-title text-left">Video goes here</h2>
          </div>
        </div>
        </div>
        <div class="col mb-2">
        <div class="card border-0">
          
          <div class="card-body">
            <h2 class="card-title">Transform your life through education</h2>
            <p class="card-text">Modimba Kamalaloush launched a new career in software development by taking courses on Here. What will you be able to do?</p>
          </div>
          </div>
        </div>
      </div>
    </div>
    </section>


