<% provide(title: "Edit Course") %>
<div class="container">
    <h1>Update Course</h1>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <%= form_for(@course) do |f|%>

            <%= render :partial => 'form', :locals =>{:f => f}  %>

            <div class="form-buttons">
                <%= f.submit "Save changes", class: "btn btn-primary" %>
            </div>
            <% end %>
        </div>
    </div>
</div>

