<h1>Courses</h1>

<% @courses.each do |course| %>

    <article>
        <h2><%= course.title %></h2>
        <span><%=image_tag course.image.url if course.image? %></span>
        <p><%= course.description %></p>
        
    </article>
    <hr>
<% end %>
