<div class="container">

    <div class="course show">
        <h1><%= @course.title %></h1>
        <br>   
        <p><%= @course.description %></p>
        <br>
        <section>
            <h2>Course content</h2>
            <% @course.episodes.each do |episode| %>
                <h3><%= episode.title %></h3>
                <p><%= episode.description %></p>
            <% end %>
        </section>
    </div>

</div>