<div class="container">

    <div class="course show">
        <h1><%= @course.title %></h1>
        <br>   
        <p><%= @course.description %></p>
        <br>
        <section> 
            <h2>Course content</h2>
            <ol>
            <% @course.episodes.each do |episode| %>
                <li><h3><%= episode.title %></h3></li>
                <p><%= episode.description %></p>
            <% end %>
            </ol>
        </section>
    </div>
</div>