

// Your variable overrides
$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray-darker: #222;
$gray: #555;
$purple: #6f42c1;

/* Universal */
html, body { height: 100%;}
html { overflow-y: scroll; }
body { padding-top: 60px;}
section { overflow: auto;}
textarea { resize: vertical;}
.center { text-align: center; h1 {margin-bottom: 10px;}}

/* layout */

* {
  box-sizing: border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 { line-height: 1;}
h1 { font-size: 3em; letter-spacing: -2px; margin-bottom: 30px; text-align: center;}
h2 { font-size: 2em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: $gray-light;}
p { font-size: 1.1em; line-height: 1.7em;  font-family: 'Roboto', sans-serif;}


/* section */

section { overflow: hidden;}
.courses {margin: 1em; padding: 0 8px;}
.recommendations { background-color: $purple; }
.business { background-color: rgb(41, 73, 69);}
.avatar {width: 100px; height: 100px; background-color: $gray-light; margin: 0 auto;}

#course { width: 20%;}

/* images*/

// img { max-width: 100%; display: block; object-fit: cover; } 
// .section-image { width: 100px;}
.card-img-top {height: 200px;  object-fit: cover; border: 1px solid $gray-medium-light;}

/* footer */
  
.footer {height: 400px; margin-top: 45px; padding: 20px ; color: $gray-medium-light; background-color: $gray-light;}
footer > div > div > a {color: $gray-medium-light; &:hover { color: $gray-darker;}}
small {text-align: center; a {color: $gray-darker;}}
.copy {border-top: 1px solid #ccc; padding: 20px 0 0 0; margin-top: 60px;}


.course-card {width: 20rem; object-fit: contain;}
.flex-items {border-top: 1px solid $gray-medium-light; margin: 10px; line-height: 75px;}
// .nav-footer { margin-right: 15px;}

/* mixins, variables, etc. */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}
input {
    height: auto !important;
}

