

// Your variable overrides
$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray-darker: #222;
$gray: #555;
$purple: #6f42c1;

/* Universal */
html, body { height: 100%;}
html { overflow-y: scroll; }
body { padding-top: 60px;}
section { overflow: auto;}
textarea { resize: vertical;}
.center { text-align: center; h1 {margin-bottom: 10px;}}
// .container-fluid {
//     margin: 5px 40px 0 40px;
    
// }

/* typography */

h1, h2, h3, h4, h5, h6 { line-height: 1;}
h1 { font-size: 3em; letter-spacing: -2px; margin-bottom: 30px; text-align: center;}
h2 { font-size: 2em; letter-spacing: -1px; margin-bottom: 30px; text-align: center; font-weight: normal; color: $gray-light;}
p { font-size: 1.1em; line-height: 1.7em;  font-family: 'Roboto', sans-serif;}

/* section */

section { overflow: hidden;}
.recommendations { background-color: $purple; }
.business { background-color: rgb(41, 73, 69);}
/* footer */
  
footer {  height: 300px; background-color: $gray-light;}
 .footer { margin-top: 45px; padding: 25px; border-top: 1px solid $gray-medium-light; color: rgb(70, 153, 128);}
 footer > div > div > a { color: white; &:hover { color: $gray-darker;}}
 
 small {float: right; margin-right: 15px; a {color: white;}}


// .nav-footer { margin-right: 15px;}

/* mixins, variables, etc. */

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* forms */

input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}
input {
    height: auto !important;
}

/* tab */

.tab-bg {
    background-color: pink;
    margin-top: 10px;
    padding-bottom: 15px;
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }